body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

/***************************
    FULL PAGE BACKGROUND
***************************/
.full-page-background {
    height: 100%;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.full-page-background .full-center-div p, .full-page-background .full-center-div h1 {
    margin: 0;
}
.full-page-background .full-center-div .main-title {
    font-size: 80px;
    font-family: "Montserrat";
}
.full-page-background .full-center-div p {
    font-family: "Open Sans";
    font-size: 20px;
}
.full-page-background .full-center-div .pre-title {
    font-style: italic;
}
.full-page-background .full-center-div {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
}

/*************************
    MOBILE DEVICES
*************************/
@media only screen and (max-width: 600px) {
    .full-page-background {
        background-attachment: scroll;
    }
    .full-page-background .full-center-div {
        top: 35%;
    }
    .full-page-background .full-center-div .main-title {
        font-size: 50px;
    }
    .full-page-background .full-center-div p {
        font-size: 15px;
    }
}